@font-face {
  font-family: 'Roboto-Thin';
  src:     url('Roboto-Thin-webfont.eot') format('eot'),
           url('Roboto-Thin-webfont.woff') format('woff'),
           url('Roboto-Thin-webfont.svg') format('svg'),
        url('Roboto-Thin-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src:     url('Roboto-Light-webfont.eot') format('eot'),
           url('Roboto-Light-webfont.woff') format('woff'),
           url('Roboto-Light-webfont.svg') format('svg'),
        url('Roboto-Light-webfont.ttf') format('ttf');
}